.header {
    display: blockx;
    margin-top: 54px;
}

.header_box {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 54px;
    max-width: 918px;
    margin-top: 0;
    margin-bottom: 0;
    gap: 36px;

    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: space-between;

    
}

.navigation.button {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}